@model IEnumerable<Airbnb.Models.Booking>

@{
    ViewData["Title"] = "Index";
}
<a asp-action="Create" class="create btn">Create</a>

<main>
    <nav class="sidebar">
        <ul>
            
            <li><i class="las la-hotel"></i><a href="/Hotel/index">Hotel</a></li>
            <li><i class="las la-city"></i><a href="/City/index">City</a></li>
            <li><i class="las la-bed"></i><a href="/Room/index">Rooms</a></li>
            <li><i class="las la-check-square"></i><a href="/Booking/index">Booking</a></li>
            <li><i class="las la-users"></i><a asp-action="ManageUsers" asp-controller="Hotel">users</a></li>
        </ul>
    </nav>
</main>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guest_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>

            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTo)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Guest_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.Name)
            </td>
                
           
            <td>
                <div class="action">
                <a asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.BookingId">Details</a> 
               
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
